@import url('./root.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  width: auto;
  margin: 0 0 0 20%;
}

li.spacer {
  padding: .5rem;
}

a.name:hover {
  color: var(--pink);
}

a.job:hover {
  color: var(--orange);
}

p.links:hover {
  color: var(--primary-font-color);
}

section.popup {
  padding: 0 0 0 10%;
  width: 300px;
  height: 80%;
  position: absolute;
  left: 55vw;
}

.modal-name {
  background-color: var(--menu-color);
}

.modal-software {
  background-color: var(--light-green);
}

.links {
  color: var(--bg-1);
}
