@import url('./root.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -10;
}

ul {
  width: auto;
  margin: 0 0 0 25%;
  padding: 0 0 0 0;
  z-index: 10;
}

li.spacer {
  padding: .5rem;
  line-height: 1.3;
  animation-name: home-page-show-work;
  animation-duration: 2s;
  font-size: var(--h3);
}

a.name, a.job {
  color: var(--primary-font-color);
  position: relative;
  transition-property: color;
  transition-duration: 1s; 
  transition-timing-function: ease;
}

p.links {
  color: var(--bg-1);
}

p.links:hover {
  color: var(--primary-font-color);
  transition-property: color, opacity;
  transition-duration: .4s; 
  transition-timing-function: linear;
  opacity: .6;
}

p#nomboloDescription,
p#timerDescription {
  animation-name: insert;
  animation-duration: 2s;
  color: var(--bg-1);
}

a.name:hover {
  color: var(--pink);
}

a.job:hover {
  color: var(--orange);
}

a.job:hover, 
a.name:hover {
  transition-property: color;
  transition-duration: 1s; 
  transition-timing-function: ease;
}

#nombolo.clicked,
#timer.clicked {
  animation-name: insert;
  animation-duration: 1s;
}

section.popup {
  padding: 0 0 0 10%;
  width: 300px;
  height: 80%;
  position: absolute;
  left: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-name {
  background-color: var(--menu-color);
}

.modal-software {
  background-color: var(--light-green);
}

.modal-music {
  background-color: var(--purple);
}

.modal-software,
.modal-name,
.modal-music {
  animation-name: home-page-show-work;
  animation-duration: 2s;
}

p.insert {
  animation-name: home-page-show-work;
  animation-duration: 2s;
}

#background-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: .1;
  z-index: -1;
}

#background-text > * {
  color: black;
}

@keyframes slide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes darkfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .2;
  }
}

@keyframes home-page-show-work {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

@keyframes home-page-show-work {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.modal {
  opacity: .8;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  section.popup {
    padding: 0 0 0 calc(25% + .5rem);
    width: 300px;
    height: 80%;
    position: absolute;
    left: 0;
  }

  ul {
    margin: 0 9%;
    animation-name: home-page-show-work;
    animation-duration: 6s;
  }

  ul > * {
    animation-name: home-page-show-work;
    animation-duration: 6s;
  }

  li.spacer {
    font-size: var(--h4);
  }

  @keyframes home-page-show-work {
    0% {
      opacity: 0;
      color: black;
    }
    100% {
      opacity: .8;
      color: var(--primary-font-color);
    }
  }

  .modal {
    opacity: 1;
  }

  #background-text {
    left: 1rem;

  }

  @keyframes color {
    0% {
      color: var(--primary-font-color);
    }
    100% {
      color: black;
    }
  }

  #background-text > * {
    font-size: var(--h3);
    animation: color 4s ;
  }
}

